<!DOCTYPE html>
<html>
  <head>
    <title>错误页面</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/default.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
  <![endif]-->
  </head>
  <body>
    <span><%= loginFailInfo %></span>
  </body>
</html>
